/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
	--color-primary-hover: rgba(40, 126, 255, 0.6);

	--font-family: 'Comfortaa', Verdana, sans-serif;
	--max-width: 940px;
	--z-header: 1000;

	font-family: var(--font-family);
	color: var(--color-text-header);
	font-size: 16px;
}
html[data-theme="dark"] {
	--color-primary: #287EFF;
	--color-text-header: #FFFFFF;
	--color-text-pharagraph: #9BA3B1;
	--color-background: #232429;
	--header-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
	--view-background: rgba(255, 255, 255, 0.1);
	--icon-background: rgba(255, 255, 255, 0.1);
}
html[data-theme="light"] {
	--color-primary: #287EFF;
	--color-text-header: #000000;
	--color-text-pharagraph: #2F4B5F;
	--color-background: #FFFFFF;
	--header-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	--view-background: rgba(0, 0, 0, 0.1);
	--icon-background: rgba(0, 0, 0, 0.1);
}

/* Booking hard rewrite style */
html[data-theme="light"] body #bcom_review_widget #bcom_review_widget_wrapper .hreview-vertical .url {
	background: #E4E4E4 !important;
}
html #bcom_review_widget #bcom_review_widget_wrapper .hreview-vertical .summary {
	color: #FFFFFF !important;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
	background: var(--color-background);
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--color-primary-hover);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

html {
	margin: 0;
	padding: 0;
	background: var(--color-background);
}

*, *::after, *::before {
	box-sizing: border-box;
	transition: all 0.25s ease-in-out;
}

body {
	font-family: var(--font-family);
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 0 25px;
	text-align: left;
	background-color: var(--color-background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--color-text-header);
	min-width: 350px;
}

a {
	font-family: var(--font-family);
	color: var(--color-text-header);
}

p {
	font-family: var(--font-family);
	margin-top: 0;
}
p.text-h {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	color: var(--color-text-header);
	margin-bottom: 15px;
}
p.text-p, .text-p li {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	color: var(--color-text-pharagraph);
}
ul {
	margin-top: 0;
	padding-left: 25px;
}
.text-p li {
	margin-bottom: 8px;
	line-height: 140%;
}
