---
import { ROOT_PATH, SITE_TITLE_1, SITE_TITLE_2 } from '../config';
import Nav from './Nav.astro';
---

<header>
	<Nav />

	<div class="head">
		<h1>
			<span>{SITE_TITLE_1}</span>
			<span>{SITE_TITLE_2}</span>
		</h1>
		<div>
			Приезжайте всей семьёй или&nbsp;дружной компанией, вдвоём или&nbsp;в&nbsp;гордом одиночестве. Мы&nbsp;вам всегда рады.
		</div>
	</div>
</header>

<style>
	header {
		display: flex;
		flex-direction: column;
		/* background-image: url('/head.png'); */
		background-size: 590px;
		background-position: right 45px;
		background-repeat: no-repeat;
	}
	.head {
		margin-top: 135px;
		margin-bottom: 155px;
	}
	.head div {
		color: var(--color-text-pharagraph);
		width: 300px;
		font-size: 14px;
		line-height: 130%;
	}
	h1 {
		color: var(--color-text-header);
		display: flex;
		flex-direction: column;
	}
	h1 span:first-of-type {
		font-weight: 400;
		font-size: 36px;
		line-height: 40px;
	}
	h1 span:last-child {
		font-weight: 700;
		font-size: 64px;
		line-height: 71px;
		margin-top: 10px;
	}
</style>
